* {
	font-family: 'Source Code Pro', monospace;
	font-weight: 100;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav {
	background-color: rgba(255,255,255,0.05);
	height: 5vh;
	margin-bottom: 3em;
}

li {
	letter-spacing: 5px;
    color: black;
    text-align: center;
    margin: 2px;
    background-color: red;
    width: 50%;
    font-size: 16px;
    border-radius: 5px;
}

a {
	display: block;
	text-decoration: none;
	padding: 1em;
    color: white;
    text-transform: uppercase;
}

li a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 5px;
}